
:root {
    color-scheme: light dark;
    --biggest-fontsize: 2rem;
    --big-fontsize: 1.5rem;
    --base-fontsize: 1.125rem;
    --middle-fontsize: 1rem;
    --small-fontsize: 0.875rem;
    --smallest-fontsize: 0.75rem;
    --micro-fontsize: 0.625rem;
    --base-lineheight: 1.8rem;
    --radius: 0.4rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor: #9F091F;
        --bgcolor-content: #282C34;
        --bgcolor-button-active: black;

        --fontcolor-light: #E5B5BE;
        --fontcolor-dark: #1CBADF;

        --fontshadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
        --boxshadow: rgba(0, 0, 0, 0.6) 0px 2px 2px 0px, rgba(0, 0, 0, 0.6) 0px 3px 1px -2px, rgba(0, 0, 0, 0.6) 0px 1px 5px 0px;
        --boxshadow-active: rgba(0, 0, 0, 0.24) 1px 3px 3px 1px, rgba(0, 0, 0, 0.3) 1px 4px 2px -3px, rgba(0, 0, 0, 0.2) 1px 2px 6px 1px;

        --date_time_item_back: #535353;
        --date_time_item_back-active: #9F091F;
        --date_time_item_back-disabled: #353941;
        --date_time_item_color-disabled: #676767;

        --button-disabled-color: Maroon;

        --table-bgcolor1: #282C34;
        --table-bgcolor2: #161B23;

        --table-border: 1px solid #000;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bgcolor: #BE4874;
        --bgcolor-content: rgba(245, 243, 246, 1);
        --bgcolor-button-active: white;

        --fontcolor-light: #BE4874;
        --fontcolor-dark: #1CBADF;

        --fontshadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        --boxshadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
        --boxshadow-active: rgba(0, 0, 0, 0.24) 1px 3px 3px 1px, rgba(0, 0, 0, 0.3) 1px 4px 2px -3px, rgba(0, 0, 0, 0.2) 1px 2px 6px 1px;

        --date_time_item_back: #E5E5E5;
        --date_time_item_back-active: #C3C9DF;
        --date_time_item_back-disabled: #ECECEC;
        --date_time_item_color-disabled: #A9A0A0;

        --button-disabled-color: MediumVioletRed;

        --table-bgcolor1: #fff;
        --table-bgcolor2: #F7F7F7;
        --table-border: 1px solid #C4C4C4;
    }
}
